/*
Theme Name: Raspi Twenty Eleven
Theme URI: http://wordpress.org/extend/themes/twentyeleven
Author: the WordPress team. Modified by Paul Glen Beech
Author URI: http://wordpress.org/
Description: The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 1.2
License: GNU General Public License
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/

/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}

.entry-meta {
color: #888;
height: 1.5em;
vertical-align: bottom;
padding-top: 1.5em;
position: absolute;
right: -270px;
width: 200px;
text-align: right;
}

.entry-meta .icon {
opacity: 0.33;
}

.entry-meta a, .entry-meta a:visited {
color: #888;
}

.entry-meta a:hover {
color: #666;
}

article { position: relative; margin-bottom: 5em; width: 670px;
}

article header { padding-bottom: 0.25em; margin-bottom: 0.75em; }

header.navbar { margin-top: 0; }

.edit-link a { color:darkred; font-weight: bold; }

#menu-sub-menu li:last-child a { padding-right: 0;}

#menu-item-77 a { color: #ee3042; }
#menu-item-76 a { color: #00aeef; }

.wp-caption-text {
padding: 0.5em 1em 0 0;
font-size: 1em;
margin-bottom: 0;
line-height: 1.5em;
}

.wp-caption {
width: 640px;
background: #EEE;
padding: 1em;
margin: 0 auto 2em;
border: 1px solid #ddd;
}

aside {
	font-size: 1.25em;
}

.page-title { color: black; }


.search_google_form input.pseudoq {display:none;}
	.search_google_form input.pseudoq_g_img {background-image:url("http://www.google.com/cse/intl/en/images/google_custom_search_watermark.gif"); background-repeat:no-repeat; background-position:left center;}
.search_google_form input.searchgoogle {display:inline;}
.search_google_form input[type="submit"] {cursor:pointer;}

.content a {
	text-decoration: underline;
	color: darkred;
}