<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>RaspTest</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ static_url("bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("bootstrapformhelpers/css/bootstrap-formhelpers.min.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static_url("css/styles.css") }}" type="text/css">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Dashboard</h4>
            <div class="dropdown">
              <select class="form-control" id="cfg_list" onchange="cfgchange()" >
                <option selected>---</option>
                {% for cfg in cfg_list %}
                  <option>{{ cfg }}</option>
                {% end %}
              </select>
              <button class="btn btn-default">Save</button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="well">
            <div id="files">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="well" id="dashboard">
          </div>
        </div>
        <div class="col-md-8">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#shellswo" data-toggle="tab">SWO</a></li>
            <li><a href="#shellgdbserver" data-toggle="tab">GDBServer</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="shellswo">
              <div class="well">
                <button type="button" class="btn btn-default cmdshell"  id="clear:swo">Clear</button>
                <button type="button" class="btn btn-default cmdshell"  id="restart:swo">Restart</button>
                <div class="pre-scrollable shell-div" id="shell_swo">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="shellgdbserver">
              <div class="well">
                <button type="button" class="btn btn-default cmdshell"  id="clear:gdb">Clear</button>
                <button type="button" class="btn btn-default cmdshell"  id="restart:gdb">Restart</button>
                <div class="pre-scrollable shell-div" id="shell_gdb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script src="{{ static_url("js/date.format.js"  ) }}" type="text/babel"></script>
    <script src="{{ static_url("js/jquery-3.2.1.min.js" ) }}" type="text/javascript"></script>
    <script src="{{ static_url("bootstrap-3.3.7-dist/js/bootstrap.min.js"                ) }}" type="text/javascript"></script>
    <script src="{{ static_url("bootstrapformhelpers/js/bootstrap-formhelpers.js"    ) }}" type="text/javascript"></script>
    <script src="{{ static_url("js/react/react.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("js/react-dom/react-dom.js") }}" type="text/javascript"></script>

    <script src="{{ static_url("js/ansi_up.js") }}" type="text/javascript"></script>

    <script src="{{ static_url("js/babel-standalone/babel.min.js" ) }}"     ></script>
    <script src="{{ static_url("js/dashboard.js")}}" type="text/babel"      ></script>
    <script src="{{ static_url("js/state.js"    )}}" type="text/babel"      ></script>
    <script src="{{ static_url("js/shell.js"    )}}" type="text/javascript" ></script>

    <!--

    <script src="{{ static_url("js/dashboard.js"  ) }}" type="text/javascript"></script>
    <script src="{{ static_url("js/state.js"  ) }}" type="text/javascript"></script>

    -->
  </body>
</html>
